@media only screen and (min-width: 415px) and (max-width: 768px) {
    /*body {
      background-color: lightblue;
    }
    */
    h1 {
        font-size: 48pt;
    }
    div > img {
        width: 400px;
    }
  }

@media only screen and (max-width: 414px) {
    /*body {
      background-color: rgb(121, 233, 186);
    }
    */
    h1 {
        font-size: 36pt;
    }
    div > img {
        width: 300px;
    }
  }

@media only screen and (min-width: 769px) {
    h1 {
        font-size: 72pt;        
    }
    div > img {
        width: 500px;
    }
  }


.box {
    display: flex;
    flex-wrap: wrap;
}

*{
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.break {
    flex-basis: 100%;
    height: 0;
  }

.fullwidth {
    flex-basis: 100%;    
    align-items: center;
  }

form > div {
    padding: 5px;
}

main {
    margin-top: 180px;
    background-color: blanchedalmond;  
    padding: 5px;
    width: 100%;
}

h1{
    font-family: 'Updock', cursive;    
    text-align: center;
    font-weight: normal;

}
header > h1{    
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
    

}
body {
  padding: 0px;
}
header{
    background-color: black;
    color: white;
    align-items: center;
    padding-top: 20px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;    
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 30;
}
.nav{
    background-color: grey;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    margin:5px;
    transition: background-color 1s ease-out 100ms, color 1s ease-out 100ms;
}
.nav:hover{
    background-color: white;
    color: black;    

}

footer{
    background-color: black;
    color: white;
    text-align: center;
    width: 100%;
    margin: 0px;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 20px;
}
.socials{
    color: white;
    margin:2px;
}

#stage {
    margin: 1em auto;
    width: 382px;
    height: 292px;
  }

  #stage a {
    position: absolute;
  }
  #stage a img {     
    border: 2px solid darkgrey;
    border-radius: 5px;
    background: #fff;
  }

  #stage a:nth-of-type(1) {
    animation-name: fader;
    animation-delay: 4s;
    animation-duration: 1s;
    z-index: 20;
  }
  #stage a:nth-of-type(2) {
    z-index: 10;
  }
  #stage a:nth-of-type(n+3) {
    display: none;
  }

  @keyframes fader {
    from { opacity: 1.0; }
    to   { opacity: 0.0; }
  }