@media only screen and (min-width: 415px) and (max-width: 768px) {
    body {
      background-color: lightblue;
    }
  }

@media only screen and (max-width: 414px) {
    body {
      background-color: rgb(121, 233, 186);
    }
  }


.box {
    display: flex;
    flex-wrap: wrap;
}

*{
    font-family: 'Plus Jakarta Sans', sans-serif;
}
h1{
    text-align: center;

}
header > h1{
    padding-top: 20px;
    padding-bottom: 5px;

}
header{
    background-color: black;
    color: white;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;

    margin: 0;
}
.nav{
    background-color: grey;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    margin:5px;
    transition: background-color 2s ease-out 100ms, color 2s ease-out 100ms;
}
.nav:hover{
    background-color: white;
    color: black;    
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 10px;
}
.socials{
    color: white;
    margin:2px;
}