@media only screen and (min-width: 415px) and (max-width: 768px) {
    /*body {
      background-color: lightblue;
    }
    */
    h1 {
        font-size: 48pt;
    }
    div > img {
        width: 500px;
    }
  }

@media only screen and (max-width: 414px) {
    /*body {
      background-color: rgb(121, 233, 186);
    }
    */
    h1 {
        font-size: 36pt;
    }
    div > img {
        width: 300px;
    }
  }

@media only screen and (min-width: 769px) {
    h1 {
        font-size: 72pt;        
    }
    div > img {
        width: 700px;
    }
  }


.box {
    display: flex;
    flex-wrap: wrap;
}

*{
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.break {
    flex-basis: 100%;
    height: 0;
  }

.fullwidth {
    flex-basis: 100%;    
    align-items: center;
  }

form > div {
    padding: 5px;
}

main {
    margin-top: 180px;
    background-size: 100%;    
    padding: 5px;
    width: 100%;
}

h1{
    font-family: 'Updock', cursive;    
    text-align: center;
    font-weight: normal;

}
header > h1{    
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
    

}
header{
    background-color: black;
    color: white;
    align-items: center;
    padding-top: 20px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;    
    position: fixed;
    top: 0;
    width: 100%;
}
.nav{
    background-color: grey;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    margin:5px;
    transition: background-color 1s ease-out 100ms, color 1s ease-out 100ms;
}
.nav:hover{
    background-color: white;
    color: black;    
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    width: 100%; 
    padding-top: 10px;
}
.socials{
    color: white;
    margin:2px;
}